name: buildx

on:
  push:
    branches: main
    tags: 'v*'

jobs:
  buildx:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v6
      with:
        fetch-depth: 0
    - name: Get the version
      id: get_version
      run: echo ::set-output name=VERSION::$(echo $GITHUB_REF | cut -d / -f 3)
    - name: Change for main
      id: change_version
      run: if [ "${{ steps.get_version.outputs.VERSION }}" == "main" ]; then echo ::set-output name=VERSION::latest; echo ::set-output name=BVERSION::master; else echo ::set-output name=VERSION::${{ steps.get_version.outputs.VERSION }}; echo ::set-output name=BVERSION::${{ steps.get_version.outputs.VERSION }}; fi
    - name: Set up Docker Buildx
      id: buildx
      uses: docker/setup-buildx-action@v3
    - name: Login to Docker Hub
      uses: docker/login-action@v3
      with:
        username: ${{ secrets.DOCKER_USERNAME }}
        password: ${{ secrets.DOCKER_TOKEN }}
    - name: Build and push
      uses: docker/build-push-action@v6
      with:
        context: .
        file: Dockerfile
        platforms: linux/amd64
        push: true
        tags: anarkiwi/sidplayfp:${{ steps.change_version.outputs.VERSION }}
        build-args: |
           SIDPLAY_VERSION=${{ steps.change_version.outputs.BVERSION }}
      if: github.event_name == 'push'
